.login_register {
	position: absolute;
	top: 30px;
	right:30px;
}
.logout {
	position: absolute;
	top: 30px;
	right:30px;
}
.login_form {
	margin-right: 50px;
}
.welcome-greeting {
	position: absolute;
	top: 30px;
	left:30px;
}
#register_form {
	display: block;
	width: 50%;
	margin-top: 3%;
	margin-left: 25%;
	margin-right: 25%;
}
#login_form {
	display: block;
	width: 50%;
	margin-top: 3%;
	margin-left: 25%;
	margin-right: 25%;
}